
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/_Main.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Hóa đơn</h2>
                    <h5 class="text-white op-7 mb-2">Trang chủ/Admin/Hóa đơn</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <table id="table_hd" class="display">
                                        <thead>
                                            <tr>
                                                <th>Mã</th>
                                                <th>Ngày mua</th>
                                                <th>Mã khách hàng</th>
                                                <th>Tên khách hàng</th>
                                                <th>Trạng thái</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var m in @ViewBag.ListOrder)
                                            {
                                                <tr>
                                                    <td>@m.OrderId</td>
                                                    <td>@m.CreatedAt</td>
                                                    <td>@m.CustomerId</td>
                                                    <td>@m.CustomerName</td>
                                                    <td>@m.StatusName</td>
                                                    <td>
                                                        <button class="btn btn-outline-danger btn-sm" onclick="openDeleteModal(@m.OrderId)" data-toggle="modal" data-target="#deleteModal">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center">Bạn chắc chắn muốn xóa bản ghi này ?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id_record = 0;
    var dataUpdate = {};
    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    $(document).ready(function () {
        $('#table_hd').DataTable();
    });

    openDeleteModal = (id) => {
        id_record = id;
    }


    deleteItem = () => {
        $.ajax({
            url: '/Order/Delete?id=' + id_record,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

</script>


