
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/_Main.cshtml";
}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Vé</h2>
                    <h5 class="text-white op-7 mb-2">Trang chủ/Admin/Vé tour</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="#" class="btn btn-secondary btn-round" data-toggle="modal" data-target="#addModal" onclick="openAddModal()">Thêm mới</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <table id="dt_table" class="display">
                                        <thead>
                                            <tr>
                                                <th>Mã</th>
                                                <th>Tên loại</th>
                                                <th>Giá tiền</th>
                                                <th>Tour</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var m in @ViewBag.ListTicket)
                                            {
                                                <tr>
                                                    <td>@m.TicketId</td>
                                                    @if (@m.TicketType == 1)
                                                    {
                                                        <td>Vé trẻ em</td>

                                                    }
                                                    else
                                                    {
                                                        <td>Vé người lớn</td>

                                                    }
                                                    <td>@m.Price</td>
                                                    <td>@m.TourName</td>
                                                    <td>
                                                        <button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#addModal" style="margin-right: 5px;" onclick="openUpdateModal(@m.TicketId)">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-outline-danger btn-sm" onclick="openDeleteModal(@m.TicketId)" style="margin-right: 5px;" data-toggle="modal" data-target="#deleteModal">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form id="bouqueti-form">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="required" for="inputEmail4">Giá tiền</label>
                                <input type="text" class="form-control contact-method" id="Price" placeholder="Nhập">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="TourId">
                                    <option value="" selected>Chọn tour</option>
                                    @foreach (var m in @ViewBag.ListTour)
                                    {
                                        <option value="@m.TourId" selected>@m.TourName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="TicketType">
                                    <option value="" selected>Chọn loại</option>
                                    <option value="1">Trẻ em</option>
                                    <option value="2">Người lớn</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center">Bạn chắc chắn muốn xóa bản ghi này ?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id_record = 0;
    var dataUpdate = {};

    openAddModal = () => {
        id_record = 0;
        $('#TicketType').val('');
        $('#Price').val('');
        $('#TourId').val('');
    };

    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    $(document).ready(function () {
        $('#dt_table').DataTable();
    });

    submit = () => {
        var req = {
            TicketId: id_record,
            TicketType: $('#TicketType').val(),
            Price: $('#Price').val(),
            TourId: $('#TourId').val(),
        }

        postData('/Ticket/Save', req)
            .then((data) => {
                if (data.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            });
    }

    openDeleteModal = (id) => {
        id_record = id;
    }

    openUpdateModal = (id) => {
        id_record = id;
        $.ajax({
            url: '/Ticket/FindById?id=' + id,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    $('#TicketType').val(result.data.TicketType);
                    $('#Price').val(result.data.Price);
                    $('#TourId').val(result.data.TourId);
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

    deleteItem = () => {
        $.ajax({
            url: '/Ticket/Delete?id=' + id_record,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

</script>





