
@{
    ViewBag.Title = "ListTicket";
    Layout = "~/Views/Shared/UserLayout/_Main.cshtml";
}

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    #qrcode {
        width: 20px;
        height: 20px;
        margin-top: 15px;
    }
</style>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@ViewBag.Customer.CustomerName</h4>
                                <p class="text-secondary mb-1"></p>
                                <p class="text-muted font-size-sm"></p>
                                <button class="btn btn-primary"></button>
                                <button class="btn btn-outline-primary"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tên</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="name" value="@ViewBag.Customer.CustomerName" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ngày sinh</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @{
                                    DateTime x = @ViewBag.Customer.DOB;
                                    var month = x.Month > 10 ? x.Month.ToString() : $"0{x.Month}";
                                    var day = x.Day > 10 ? x.Day.ToString() : $"0{x.Day}";
                                }
                                <input type="date" id="dob" value="@x.Year-@month-@day" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">CCCD</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="passport" value="@ViewBag.Customer.PassPortCode" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Địa chỉ</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="address" value="@ViewBag.Customer.Address" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="email" value="@ViewBag.Account.Email" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Số dư</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                @ViewBag.Balance
                            </div>
                            <div class="row col-sm-6 text-secondary">
                                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal" onclick="addMoney(@ViewBag.Customer.AccountId)">Nạp thêm tiền</button>
                                <button style="margin-left: 10px;" class="btn btn-sm btn-success" onclick="updateInfo(@ViewBag.Customer.AccountId)">Cập nhật thông tin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutters-sm">
            <div class="col-sm-12 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">DANH SÁCH VÉ ĐÃ MUA</i></h6>
                        <table id="table_tuyenxe" class="table">
                            <thead>
                                <tr>
                                    <th>Ngày mua</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng tiền</th>
                                    <th>QR Code</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var m in @ViewBag.ListTicket)
                                {
                                    <tr>
                                        <td>@m.CreatedAt</td>
                                        @if (m.Status == 1)
                                        {
                                            <td style="color: green">Đã mua thành công</td>

                                        }
                                        @if (m.Status == 2)
                                        {
                                            <td style="color: red">Đã hủy</td>

                                        }
                                        <td>@m.TotalPrice</td>
                                        <td style="text-align: center" id="qrcode">
                                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAaxJREFUSEulV1uOxCAMK/c/NCtQE7nGThjtfJUWyMt2MmPOOZ/3N8Z4YPmsdfzW+1jHM+7FO9az+oZ7xjJ8YwD3pDfvAzsbawyEnbaG8XBEEBexo5wx9f0wvLKCESiD6zse/HWtsrUj5tRxijpnEAcOL4eNqDHXhdOKgKpSrcCoSrVgu4N24OGEOGQ7ILlsJrgq4+ixelZUYmrynh0x8o5BpGqm0N0BlM8c4FKGK0NKcBiMnO7NClYutakTBKSXQjjeGYFlqitKKCnt5BKzxPjZa+ZxJXP/pRQCMw07FFaC4KSxK806d/DYHXJ8dphwEptRKwG5aY03MsmihEF9upOK1vGYedtJLFNMCgg3fdX2qqw4en3kFptEVRcXYRjpJhSrXEr8+d1tXXk0Yk5vZxFcrsbyIM1nrE6VwBySyR0EmwentONq11w+AsKpZIG4bSBKItHxjLjiG7dMqbvvGOwkFQPKsnUzl0sxUuYKTOTc0Rar2t3WHJuBGhS3VquB/katWKPVsKj2ZD92hisgqcbQ9V8+U6ZaGeiQ39EoM6P+SaiJQ6mWksvO2bj7D9Pgvf6Y51aaAAAAAElFTkSuQmCC" style="display: block;">
                                        </td>
                                        <td>
                                            <button class="btn btn-outline-danger btn-sm" onclick="openDeleteModal(@m.OrderId)" data-toggle="modal" data-target="#deleteModal">
                                                Hủy Tour
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Nạp tiền</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form id="bouqueti-form">
                        <label class="required" for="inputEmail4">Nhà mạng</label>
                        <div class="form-row">
                            <select class="form-control form-control-sm" style="width: 100%">
                                <option selected>Chọn nhà mạng</option>
                                <option>Viettel</option>
                                <option>Vinaphone</option>
                                <option>Mobilephone</option>
                            </select>
                            <div class="form-group col-md-12">
                                <label class="required" for="inputEmail4">Nhập mã thẻ</label>
                                <input type="number" class="form-control contact-method" id="mathe" placeholder="Nhập mã">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 style="text-align:center">Bạn chắc chắn muốn hủy tour này ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/qrcode.min.js"></script>
<script>
    var id_kh = 0;
    //$(document).ready(function () {
    //    new QRCode("qrcode", {
    //        text: "https://www.bugs.vn/store/products/moc-khoa-visual-studio",
    //        width: 30,
    //        height: 30,
    //        colorDark: "#000000",
    //        colorLight: "#ffffff",
    //        correctLevel: QRCode.CorrectLevel.H
    //    });
    //});

    addMoney = (id) => {
        id_kh = id;
    }

    openDeleteModal = (id) => {
        id_record = id;
    }

    submit = () => {
        if ($('#mathe').val().length != 11) {
            toastr.warning('Mã thẻ phải có duy nhất 11 kí tự. Nạp thất bại !!!');
        }
        else {
            $.ajax({
                url: '/UserPage/NapTien?id_tk=' + id_kh,
                type: 'GET',
                success: function (result) {
                    if (result.success) {
                        toastr.warning('Successfully !');
                        window.location.reload();
                    }
                    else {
                        toastr.warning('Failed !');
                        $('.modal').modal('hide');
                    }
                }
            });
        }
    }

    deleteItem = () => {
        $.ajax({
            url: '/UserPage/CancelOrder?id=' + id_record,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    toastr.success(result.message);
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning(result.message);
                    $('.modal').modal('hide');
                }
            }
        });
    }

    updateInfo = (id) => {
        var req = {
            AccountId: id,
            CustomerName: $('#name').val(),
            PassportCode: $('#passport').val(),
            Address: $('#address').val(),
            Email: $('#email').val(),
            DOB: $('#dob').val()
        }
        postData('/Account/UpdateInfo', req)
            .then((data) => {
                if (data.success) {
                    toastr.success('Successfully !');
                }
                else {
                    toastr.warning('Failed !');
                }
            });
    }
</script>
