
@{
    ViewBag.Title = "TourDetail";
    Layout = "~/Views/Shared/UserLayout/_Main.cshtml";
}

<style>
    p {
        margin: 0 0 13px 0;
    }

    a {
        color: #fff;
    }

    .center {
        text-align: center;
    }

    .container {
        width: 95%;
        max-width: 1220px;
        margin: 0 auto;
    }

    .episode {
        display: grid;
        grid-template-columns: 1fr 3fr;
        position: relative;
    }

    .episode__number {
        font-size: 3vw;
        font-weight: 600;
        padding: 10px 0;
        position: sticky;
        top: 0;
        text-align: center;
        height: calc(10vw + 20px);
        transition: all 0.2s ease-in;
    }

    .episode__content {
        border-top: 2px solid #fff;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 10px;
        padding: 15px 0;
    }

        .episode__content .title {
            font-weight: 600
        }

        .episode__content .story {
            line-height: 26px;
        }

    @@media (max-width: 600px) {
        .episode__content {
            grid-template-columns: 1fr;
        }
    }

    @@media (max-width: 576px) {
        .episode__content .story {
            font-size: 15px;
        }
    }

    .pull-right {
        float: right;
    }

    .pull-left {
        float: left;
    }

    #fbcomment {
        background: #fff;
        border: 1px solid #dddfe2;
        border-radius: 3px;
        color: #4b4f56;
        padding: 50px;
    }

    .header_comment {
        font-size: 14px;
        overflow: hidden;
        border-bottom: 1px solid #e9ebee;
        line-height: 25px;
        margin-bottom: 24px;
        padding: 10px 0;
    }

    .sort_title {
        color: #4b4f56;
    }

    .sort_by {
        background-color: #f5f6f7;
        color: #4b4f56;
        line-height: 22px;
        cursor: pointer;
        vertical-align: top;
        font-size: 12px;
        font-weight: bold;
        vertical-align: middle;
        padding: 4px;
        justify-content: center;
        border-radius: 2px;
        border: 1px solid #ccd0d5;
    }

    .count_comment {
        font-weight: 600;
    }

    .body_comment {
        padding: 0 8px;
        font-size: 14px;
        display: block;
        line-height: 25px;
        word-break: break-word;
    }

    .avatar_comment {
        display: block;
    }

        .avatar_comment img {
            height: 48px;
            width: 48px;
        }

    .box_comment {
        display: block;
        position: relative;
        line-height: 1.358;
        word-break: break-word;
        border: 1px solid #d3d6db;
        word-wrap: break-word;
        background: #fff;
        box-sizing: border-box;
        cursor: text;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding: 0;
    }

        .box_comment textarea {
            min-height: 40px;
            padding: 12px 8px;
            width: 100%;
            border: none;
            resize: none;
        }

            .box_comment textarea:focus {
                outline: none !important;
            }

        .box_comment .box_post {
            border-top: 1px solid #d3d6db;
            background: #f5f6f7;
            padding: 8px;
            display: block;
            overflow: hidden;
        }

        .box_comment label {
            display: inline-block;
            vertical-align: middle;
            font-size: 11px;
            color: #90949c;
            line-height: 22px;
        }

        .box_comment button {
            margin-left: 8px;
            background-color: #4267b2;
            border: 1px solid #4267b2;
            color: #fff;
            text-decoration: none;
            line-height: 22px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            text-align: center;
        }

            .box_comment button:hover {
                background-color: #29487d;
                border-color: #29487d;
            }

        .box_comment .cancel {
            margin-left: 8px;
            background-color: #f5f6f7;
            color: #4b4f56;
            text-decoration: none;
            line-height: 22px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            text-align: center;
            border-color: #ccd0d5;
        }

            .box_comment .cancel:hover {
                background-color: #d0d0d0;
                border-color: #ccd0d5;
            }

        .box_comment img {
            height: 16px;
            width: 16px;
        }

    .box_result {
        margin-top: 24px;
    }

        .box_result .result_comment h4 {
            font-weight: 600;
            white-space: nowrap;
            color: #365899;
            cursor: pointer;
            text-decoration: none;
            font-size: 14px;
            line-height: 1.358;
            margin: 0;
        }

        .box_result .result_comment {
            display: block;
            overflow: hidden;
            padding: 0;
        }

    .child_replay {
        border-left: 1px dotted #d3d6db;
        margin-top: 12px;
        list-style: none;
        padding: 0 0 0 8px
    }

    .reply_comment {
        margin: 12px 0;
    }

    .box_result .result_comment p {
        margin: 4px 0;
        text-align: justify;
    }

    .box_result .result_comment .tools_comment {
        font-size: 12px;
        line-height: 1.358;
    }

        .box_result .result_comment .tools_comment a {
            color: #4267b2;
            cursor: pointer;
            text-decoration: none;
        }

        .box_result .result_comment .tools_comment span {
            color: #90949c;
        }

    .body_comment .show_more {
        background: #3578e5;
        border: none;
        box-sizing: border-box;
        color: #fff;
        font-size: 14px;
        margin-top: 24px;
        padding: 12px;
        text-shadow: none;
        width: 100%;
        font-weight: bold;
        position: relative;
        text-align: center;
        vertical-align: middle;
        border-radius: 2px;
    }
</style>


<section class="news_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                @ViewBag.Tour.TourName
            </h2>
        </div>
        <div class="news_container col-md-12">
            <div class="row">
                <div class="box" style="margin-top: 15px; color: black;">
                    <div class="date-box">
                        <h6>
                            @ViewBag.Tour.TourTime
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="@ViewBag.Tour.Poster" alt="" width="300" height="200">
                    </div>
                    <div class="detail-box">
                        <h6>
                            @ViewBag.Tour.TourName
                        </h6>
                        <p>
                            <b>Thời gian:</b> @ViewBag.Tour.StartDate - @ViewBag.Tour.EndDate
                        </p>
                        <p>
                            <b>Lịch trình:</b>: @ViewBag.Tour.LocationFrom - @ViewBag.Tour.LocationTo
                        </p>
                        <p>
                            <b>Giá:</b>: @ViewBag.Tour.Price
                        </p>
                        <p>
                            <b>Phương tiện di chuyển:</b> @ViewBag.Tour.VehicleName
                        </p>
                        <p>Được phục vụ bữa ăn miễn phí trong suốt chuyến bay</p>
                        <br>
                        <a href="javascript:void(0)" style="float:right" class="btn btn-primary" onclick="bookingTicket(@ViewBag.Tour.TourId)">Đặt vé ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <details>
            <summary>Hình ảnh</summary>
            <p>
                <div class="container">
                    @foreach (var m in @ViewBag.TourImage)
                    {
                        <article class="episode">
                            <div class="episode__content">
                                <div class="story">
                                    <img src="@m.Image" alt="Alternate Text" />
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </p>
        </details>
        <details>
            <summary>Lịch trình</summary>
            <p>
                <div class="container">
                    <h1 class="center">@ViewBag.Tour.TourName</h1>
                    @foreach (var m in @ViewBag.TourSchedule)
                    {
                        <article class="episode">
                            <div class="episode__number">Ngày @m.NumDay</div>
                            <div class="episode__content">
                                <div class="story">
                                    <p style="text-align: center">@m.TourScheduleName</p>
                                    <img src="@m.Image" alt="Alternate Text" />
                                    <p>@m.Descrip</p>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </p>
        </details>
        <details>
            <summary>Đánh giá</summary>
            <body>
                <div class="container">
                    <div class="col-md-12" id="fbcomment">
                        <div class="body_comment">
                            <div class="row">
                                <div class="avatar_comment col-md-1">
                                    <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
                                </div>
                                <div class="box_comment col-md-11">
                                    <textarea class="commentar" id="comment_tour" placeholder="Thêm đánh giá..."></textarea>
                                    <div class="box_post">
                                        <div style="margin-left: 10px" class="row pull-left">
                                            <input type="number" class="form-control" style="margin-right: 10px;" step="1" id="post_fb" name="quantity" min="1" max="5"><br><br>
                                            <label for="post_fb">Điểm đánh giá (tối đa 5*)</label>
                                        </div>
                                        <div class="pull-right">
                                            <button onclick="submit_comment()" type="button" value="1">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <ul id="list_comment" class="col-md-12">
                                    @foreach (var cmt in @ViewBag.ListVote)
                                    {
                                        <div class="pull-right" style="margin-top: 20px;">
                                            <button data-toggle="modal" data-target="#deleteModal" onclick="deleteComment(@cmt.VoteTourId, @cmt.AccountId)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <li class="box_result row">
                                            <div class="avatar_comment col-md-1">
                                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
                                            </div>
                                            <div class="result_comment col-md-11">
                                                <h4>@cmt.UserName</h4>
                                                <p>@cmt.Comment</p>
                                                <div class="tools_comment">
                                                    <a href="javascript:void(0)">Vote: @cmt.Star/5 <i style="color: #939321" class="fa fa-star"></i></a>
                                                    <span aria-hidden="true"> · </span>
                                                    <span>@cmt.CreatedAt</span>
                                                </div>
                                                <ul class="child_replay"></ul>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
        </details>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style="text-align:center">Bạn chắc chắn muốn xóa comment này ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<script>
    // Example POST method implementation:
    var id_record = 0;

    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }


    bookingTicket = (id) => {
        if (localStorage.getItem('UserInfo')) {
            window.location.href = '/UserPage/BookingTicket?id=' + id;
        }
        else {
            toastr.warning('Bạn cần đăng nhập để thực hiện thao tác này !');
        }
    }

    function submit_comment() {
        if (localStorage.getItem('UserInfo'))
        {
            var req = {
                AccountId: JSON.parse(JSON.parse(JSON.stringify(localStorage.getItem('UserInfo')))).AccountId,
                TourId: @ViewBag.Tour.TourId,
                Star: $('#post_fb').val(),
                Comment: $('#comment_tour').val()
            }
            postData('/VoteTour/Save', req)
            .then((data) => {
                if (data.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    setTimeout(window.location.reload.bind(window.location), 250);
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            });
        }
        else {
            toastr.warning('Bạn cần đăng nhập để thực hiện thao tác này !');
        }
    }

    var acc_id = 0;

    deleteComment = (id, account_id) => {
        id_record = id;
        acc_id = account_id;
    }

    deleteItem = () => {
        if (JSON.parse(JSON.parse(JSON.stringify(localStorage.getItem('UserInfo')))).AccountId != acc_id) {
            toastr.warning('Bạn không thể xoá comment của người khác !');
        }
        else {
            $.ajax({
                url: '/VoteTour/Delete?id=' + id_record,
                type: 'GET',
                success: function (result) {
                    if (result.success) {
                        toastr.success('Successfully !');
                        setTimeout(window.location.reload.bind(window.location), 250);
                        window.location.reload();
                    }
                    else {
                        toastr.warning('Failed !');
                        $('.modal').modal('hide');
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        $('#list_comment').on('click', '.like', function (e) {
            $current = $(this);
            var x = $current.closest('div').find('.like').text().trim();
            var y = parseInt($current.closest('div').find('.count').text().trim());

            if (x === "Like") {
                $current.closest('div').find('.like').text('Unlike');
                $current.closest('div').find('.count').text(y + 1);
            } else if (x === "Unlike") {
                $current.closest('div').find('.like').text('Like');
                $current.closest('div').find('.count').text(y - 1);
            } else {
                var replay = $current.closest('div').find('.like').text('Like');
                $current.closest('div').find('.count').text(y - 1);
            }
        });

        $('#list_comment').on('click', '.replay', function (e) {
            cancel_reply();
            $current = $(this);
            el = document.createElement('li');
            el.className = "box_reply row";
            el.innerHTML =
                '<div class=\"col-md-12 reply_comment\">' +
                '<div class=\"row\">' +
                '<div class=\"avatar_comment col-md-1\">' +
                '<img src=\"https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg\" alt=\"avatar\"/>' +
                '</div>' +
                '<div class=\"box_comment col-md-10\">' +
                '<textarea class=\"comment_replay\" placeholder=\"Add a comment...\"></textarea>' +
                '<div class=\"box_post\">' +
                '<div class=\"pull-right\">' +
                '<span>' +
                '<img src=\"https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg\" alt=\"avatar\" />' +
                '<i class=\"fa fa-caret-down\"></i>' +
                '</span>' +
                '<button class=\"cancel\" onclick=\"cancel_reply()\" type=\"button\">Cancel</button>' +
                '<button onclick=\"submit_reply()\" type=\"button\" value=\"1\">Reply</button>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';
            $current.closest('li').find('.child_replay').prepend(el);
        });
    });

    function submit_reply() {
        var comment_replay = $('.comment_replay').val();
        el = document.createElement('li');
        el.className = "box_reply row";
        el.innerHTML =
            '<div class=\"avatar_comment col-md-1\">' +
            '<img src=\"https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg\" alt=\"avatar\"/>' +
            '</div>' +
            '<div class=\"result_comment col-md-11\">' +
            '<h4>Anonimous</h4>' +
            '<p>' + comment_replay + '</p>' +
            '<div class=\"tools_comment\">' +
            '<a class=\"like\" href=\"#\">Like</a><span aria-hidden=\"true\"> · </span>' +
            '<i class=\"fa fa-thumbs-o-up\"></i> <span class=\"count\">0</span>' +
            '<span aria-hidden=\"true\"> · </span>' +
            '<a class=\"replay\" href=\"#\">Reply</a><span aria-hidden=\"true\"> · </span>' +
            '<span>1m</span>' +
            '</div>' +
            '<ul class="child_replay"></ul>' +
            '</div>';
        $current.closest('li').find('.child_replay').prepend(el);
        $('.comment_replay').val('');
        cancel_reply();
    }

    function cancel_reply() {
        $('.reply_comment').remove();
    }
</script>